build/*
build
build_cmake
build_cmake/*
__pycache__
__pycache__/*
/.idea
/.idea/*
/cmake-build-debug
/cmake-build-debug/*
/LCM/.thumb_cache
/LCM/.thumb_cache/*
/NNModelServer/models
/NNModelServer/onnx/4x-UltraSharpV2_Lite_fp32_op17/model.onnx
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/config.json
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/model.onnx
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/model_quantized.onnx
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/preprocessor_config.json
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/quantize_config.json
/NNModelServer/onnx/vitmatte_model_vitsmall_comp1k/README.md
/NNModelServer/onnx/vitmatte_model_vitsmall_dist646/config.json
/NNModelServer/onnx/vitmatte_model_vitsmall_dist646/model.onnx
/NNModelServer/onnx/vitmatte_model_vitsmall_dist646/model_quantized.onnx
/NNModelServer/onnx/vitmatte_model_vitsmall_dist646/preprocessor_config.json
/NNModelServer/onnx/vitmatte_model_vitsmall_dist646/quantize_config.json
/err.log
/help.txt
/nnserver_err.log
/nnserver_test.log
/NNModelServer/nnserverbin.zip
