build/*
build
build_cmake
build_cmake/*
__pycache__
__pycache__/*
/.idea
/.idea/*
/cmake-build-debug
/cmake-build-debug/*
/LCM/.thumb_cache
/LCM/.thumb_cache/*
/NNModelServer/models
/NNModelServer/onnx/*
/err.log
/help.txt
/nnserver_err.log
/nnserver_test.log
/NNModelServer/nnserverbin.zip
/NNModelServer/sd-build/*
/dist/*